@font-face {
  font-family: "Geist-Light";
  src: url("./public/fonts/Geist-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "Geist-bold";
  src: url("./public/fonts/Geist-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist-Light";
  text-decoration: none !important;
  color: #09090b;
}

body {
  background-color: #f3f4f6;
  height: 100dvh;
  overflow: hidden;
}

section {
  display: grid;
  place-content: center;
  gap: 10px;
  height: 100dvh;
  text-align: center;
  color: #a1a1aa;
  padding-inline: 1.6rem;
}

h1 {
  font-size: 40px;
  font-family: "Geist-Bold";
  color: #09090b !important;
  text-wrap: balance;
}

p {
  max-width: 380px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
  flex: 1 1 0;
  justify-content: center;
  padding-block: 1rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  border: 1px solid #a1a1aa;
  background-color: transparent;
  transition: all 120ms ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    scale: 0.98;
  }
}

button#first {
  border: none;
  background-color: #14b8a6;

  &,
  i {
    color: #fff;
  }
}

button#second:hover {
  background-color: #09090b;
  &,
  i {
    color: #fff;
  }
}

button a {
  display: flex;
  align-items: center;
  gap: 5px;
}

button,
a {
  cursor: pointer;
}
